.cart {
    border: 1px solid grey;
}

.product {
  margin: 2rem;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-summary {
    margin: 2rem;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 3rem;
    padding-bottom: 5rem;
}

.checkout-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout-navigation a {
    margin: 2rem;
}
