@import "~bootstrap/dist/css/bootstrap.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.webshop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.page-container {
    width: 100%;
    padding: 0
}
